<div class="p20">
  <button class="button mr10" (click)="onMsgDefault()">default</button>
  <button class="button primary mr10" (click)="onMsgSuccess()">success</button>
  <button class="button warning mr10" (click)="onMsgWarning()">warning</button>
  <button class="button error mr10" (click)="onMsgError()">error</button>
  <button class="button mr10" (click)="onMsgDialog()">dialog</button>
  <button class="button mr10" (click)="onMsgInput()">input</button>
  <br>
  <br>
  <button class="button mr10" (click)="onMsgSystem()">system</button>
</div>
