<div class="p20">
  <h2>ellipsis</h2>
  <div>文字省略号显示</div>
  <h4>例子</h4>
  <div>
    <div [title]="text">{{text | ellipsis:10}}</div>
  </div>
  <br>
  <h4>使用方式</h4>
  <div>
    text | ellipsis:len。其中，ellipsis为管道名称，len为最大显示长度，int。<br>
    使用步骤和代码依次如下：
  </div>
  <textarea class="input mt20 full" rows="20" style="resize: none;" readonly="readonly">
    1.
    import {EllipsisPipe} from "le5le-component/src/pipe/ellipsis.pipe";
    2.
    @NgModule({
      imports:       [CommonModule,  FormsModule, routing],
      declarations: [
        EllipsisPipe
      ]
    })
    export class SharedModule { }

    3.
    <div [title]="text">{ { text | ellipsis:10 } }</div> 【注意：为了显示，{ {   } } 中间有空格，实际代码没有】
  </textarea>
</div>

