<div class="p20">
  <h2>notice</h2>
  <div>（能够自动消失的）消息提示组件。也包含确认操作提示和简单输入。</div>
  <h4>例子</h4>
  <div>
    <button class="button success mr10" (click)="onTip('success')">success</button>
    <button class="button warning mr10" (click)="onTip('warning')">warning</button>
    <button class="button error mr10" (click)="onTip('error', 30000)">error</button>
    <button class="button cyan mr10" (click)="onTip('cyan')">cyan</button>
    <br><br>
    <button class="button success mr10" (click)="onDialog()">对话框 - 是否继续？</button>
    <button class="button warning mr10" (click)="onInput()">简单输入</button>
  </div>
  <br>
  <h4>使用方式</h4>
  <div>
    对话框需要结合<a href="https://github.com/le5le-com/le5le-ui" target="_blank">le5le-ui</a>里面的对话框样式。
    <br><br>
    <b>文本提示</b><br>
    noticeService.notice(options);
    <br><br>
    其中options属性如下：<br>
    theme - 风格主题: success, warning, error, cyan 。 默认success <br>
    body - 正文，可以为html<br>
    timeout - 自动消失时间<br><br>

    <b>对话框提示</b><br>
    noticeService.dialog(options);
    <br><br>
    其中options属性如下：<br>
    title - 标题<br>
    theme - 风格主题: success, warning, error, cyan 。 默认success <br>
    body - 正文，可以为html<br>
    callback - 对话框关闭时的回调函数。单击确定 ret = true。其他： ret = false。<br><br>

    <b>输入框提示</b><br>
    noticeService.input(options);
    <br><br>
    其中options属性如下：<br>
    title - 标题<br>
    theme - 风格主题: success, warning, error, cyan 。 默认success <br>
    body - 正文，可以为html<br>
    callback - 对话框关闭时的回调函数。ret = 输入内容。<br><br>
    <br>
    代码依次如下：
  </div>
  <textarea class="input mt20 full" rows="20" style="resize: none;" readonly="readonly">
    1.
    import {NoticeService} from "le5le-component/src/notice/notice.service";
    2.
    @NgModule({
      imports:       [CommonModule,  FormsModule, routing],
      declarations: [
      ],
      exports:       [
        CommonModule,
        FormsModule,
      ],
      providers:     [
        NoticeService
      ]
    })
    export class SharedModule { }

    3.
    onTip (theme: string, timeout?:any) {
      this._noticeService.notice({theme: theme, body: theme + '！', timeout: (timeout || 3000)});
    }

    onDialog () {
      this._noticeService.dialog({
        title: '确认',
        theme: 'primary',
        body: '是否继续？',
        callback:(ret:boolean)=>{
          this._noticeService.notice({body: ret? '您选择的是： 是！':'您选择的是： 否！'});
        }
      });
    }

    onInput () {
      this._noticeService.input({
        title: '请输入一个文本',
        theme: 'primary',
        text: '初始值',
        placeholder: '请输入',
        required: true,
        type: 'text',
        callback:(ret:string)=>{
          this._noticeService.notice({body: '您输入的是： ' + ret});
         }
       });
    }
  </textarea>
</div>

