<div class="p20">
  <h2>fileUpload</h2>
  <div>文件上传</div>
  <h4>例子</h4>
  <div>
    A、 指令方式上传 <br>
    <input type="file" file-select [uploader]="uploader" /> <br>
    <div class="error">{{fileUploadStatus.error}}</div>
  </div>

  <br>
  <h4>使用方式</h4>
  <div>
    uploader属性：<br>
    options - 上传参数，新建时传入。 其中：url - 上传url。headers：添加的头部信息。 autoUpload - 选择文件后，是否自动开始上传 <br>
    isUploading - 是否正在上传 <br>
    queue - 文件上传列表 <br>
    progress - 上传总进度 <br>
    maxLength - 上传总大小 <br>
    filters - 上传过滤规则列表。 使用参考：filters.unshift( ｛ name: 'maxLength', fn: _maxLengthFilter｝) 。 _maxLengthFilter 参数：文件信息对象。<br>
    fieldName - api接收的字段名 <br>
    emitter - 事件接收器。 返回数据对象属性如下：<br>
    ｛ <br>
    &nbsp;&nbsp; event: '事件名称',<br>
     &nbsp;&nbsp; fileItem: 文件信息对象，包含进度、错误等信息。<br>
    ｝ <br>
    <br>


    使用步骤和代码依次如下：
  </div>
  <textarea class="input mt20 full" rows="20" style="resize: none;" readonly="readonly">
    1.
    import {FileSelectDirective} from "le5le-component/src/fileUpload/fileSelect.directive";
    2.
    @NgModule({
      imports:       [CommonModule,  FormsModule, routing],
      declarations: [
        FileSelectDirective
      ]
    })
    export class SharedModule { }

    3.
    <input type="file" file-select [uploader]="uploader" /> <br>
    其中： uploader定义如下：
    export class ComponentFileUploadComponent {
      uploader: FileUploader;
      fileUploadStatus: any = {};
      constructor() {
      }

      ngOnInit() {
        this.uploader = new FileUploader({
          url: '/api/file/upload?id=',
          headers: {
            Authorization: ''
          },
          autoUpload: true
        });

        this.uploader.emitter.subscribe( ret => {
          this.fileUploadStatus = ret.fileItem;
        });
      }
    }

  </textarea>

  <div>
    B、组件方式上传 <br>

  </div>

</div>

