<div class="flex">
  <div class="tree border-right" style="width: 2rem;">
    <div class="item">
      <a>
        <i class="iconfont icon-triangledown"></i>
        ui
      </a>
      <div class="item" routerLinkActive="active" routerLink="/component/notice">
        <a>
          <i class="iconfont icon-angle-right"></i>
          notice
        </a>
      </div>
      <div class="item" routerLinkActive="active" routerLink="/component/lazyLoad">
        <a>
          <i class="iconfont icon-angle-right"></i>
          lazyLoad
        </a>
      </div>
      <div class="item" routerLinkActive="active" routerLink="/component/switch">
        <a>
          <i class="iconfont icon-angle-right"></i>
          switch
        </a>
      </div>
      <div class="item" routerLinkActive="active" routerLink="/component/qrcode">
        <a>
          <i class="iconfont icon-angle-right"></i>
          qrcode
        </a>
      </div>
      <div class="item" routerLinkActive="active" routerLink="/component/validator">
        <a>
          <i class="iconfont icon-angle-right"></i>
          validator
        </a>
      </div>
      <div class="item" routerLinkActive="active" routerLink="/component/fileUpload">
        <a>
          <i class="iconfont icon-angle-right"></i>
          fileUpload
        </a>
      </div>
      <div class="item" routerLinkActive="active" routerLink="/component/editor">
        <a>
          <i class="iconfont icon-angle-right"></i>
          editor
        </a>
      </div>
      <div class="item" routerLinkActive="active" routerLink="/component/btnSaving">
        <a>
          <i class="iconfont icon-angle-right"></i>
          btnSaving
        </a>
      </div>
      <div class="item" routerLinkActive="active" routerLink="/component/touchForm">
        <a>
          <i class="iconfont icon-angle-right"></i>
          touchForm
        </a>
      </div>
      <div class="item" routerLinkActive="active" routerLink="/component/time">
        <a>
          <i class="iconfont icon-angle-right"></i>
          time
        </a>
      </div>
    </div>
    <div class="item">
      <a>
        <i class="iconfont icon-triangledown"></i>
        pipe
      </a>
      <div class="item" routerLinkActive="active" routerLink="/component/ellipsis">
        <a>
          <i class="iconfont icon-angle-right"></i>
          ellipsis
        </a>
      </div>
    </div>
  </div>
  <div class="full">
    <div style="min-height: 5.7rem">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
