<div class="p20">
  <h2>validator</h2>
  <div>表单校验</div>
  <h4>例子</h4>
  <div>
    <div class="mb10">
      <input class="input" name="phone" [(ngModel)]="form.phone" #phone="ngModel" isPhone placeholder="手机" >
      <div *ngIf="phone.touched && !phone.valid" class="error"> 请填写正确的手机 </div>
    </div>
    <div class="mb10">
      <input class="input" name="email" [(ngModel)]="form.email" #email="ngModel" isEmail placeholder="邮箱" >
      <div *ngIf="email.touched && !email.valid" class="error"> 请填写正确的邮箱 </div>
    </div>
    <div class="mb10">
      <input class="input" name="integer" [(ngModel)]="form.integer" #integer="ngModel" positiveInteger placeholder="正整数" >
      <div *ngIf="integer.touched && !integer.valid" class="error"> 请填写正整数 </div>
    </div>
    <div class="mb10">
      <input class="input" name="password" [(ngModel)]="form.password" #password="ngModel" isPassword placeholder="密码" >
      <div *ngIf="password.touched && !password.valid" class="error"> 请填写6-20位的密码 </div>
    </div>
    <div class="mb10">
      <input class="input" name="same" [(ngModel)]="form.same" #same="ngModel" [sameTo]="form.password" placeholder="确认密码" >
      <div *ngIf="same.touched && !same.valid" class="error"> 请填写相同的密码 </div>
    </div>
  </div>
  <br>
  <h4>使用方式</h4>
  <div>
    使用步骤和代码依次如下：
  </div>
  <textarea class="input mt20 full" rows="20" style="resize: none;" readonly="readonly">
    1.
    import {PhoneValidator} from "le5le-component/src/validator/phone.directive";
    import {PasswordValidator} from "le5le-component/src/validator/password.directive";
    import {PositiveIntegerValidator} from "le5le-component/src/validator/positiveInteger.directive";
    import {SameValidator} from "le5le-component/src/validator/same.directive";
    import {EmailValidator} from "le5le-component/src/validator/email.directive";
    2.
    【注意】 表单数据绑定依赖FormsModule模块。

    @NgModule({
      imports:       [CommonModule, FormsModule, routing],
      declarations: [
        PhoneValidator,
        PasswordValidator,
        PositiveIntegerValidator,
        SameValidator ,
        EmailValidator,
      ]
    })
    export class SharedModule { }

    3.
    <div class="mb10">
      <input class="input" name="phone" [(ngModel)]="form.phone" #phone="ngModel" isPhone placeholder="手机" >
      <div *ngIf="phone.touched && !phone.valid" class="error"> 请填写正确的手机 </div>
    </div>
    <div class="mb10">
      <input class="input" name="email" [(ngModel)]="form.email" #email="ngModel" isEmail placeholder="邮箱" >
      <div *ngIf="email.touched && !email.valid" class="error"> 请填写正确的邮箱 </div>
    </div>
    <div class="mb10">
      <input class="input" name="integer" [(ngModel)]="form.integer" #integer="ngModel" positiveInteger placeholder="正整数" >
      <div *ngIf="integer.touched && !integer.valid" class="error"> 请填写正整数 </div>
    </div>
    <div class="mb10">
      <input class="input" name="password" [(ngModel)]="form.password" #password="ngModel" isPassword placeholder="密码" >
      <div *ngIf="password.touched && !password.valid" class="error"> 请填写6-20位的密码 </div>
    </div>
    <div class="mb10">
      <input class="input" name="same" [(ngModel)]="form.same" #same="ngModel" [sameTo]="form.password" placeholder="确认密码" >
      <div *ngIf="same.touched && !same.valid" class="error"> 请填写相同的密码 </div>
    </div>
  </textarea>
</div>

