.form-control {
  width: 200px;
}
.alert-danger {
  width: 200px;
  height: 30px;
  line-height: 15px;
}

.alert {
  width: 200px;
}
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid red; /* red */
}
table {
  font-family: '微软雅黑';
}
.td {
  width: 120px;
  font-size: 16px;
}
span {
  display: inline;
}
.formMain h2 {
  padding-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.formConent > div,
.formShopping > div {
  font-size: 16px;
  padding-left: 50px;
}
img {
  display: block;
}
.formCustomer h2,
.formShop h2 {
  margin-left: 100px;
}
.formConent,
.formShopping {
  margin-top: 50px;
}
