<div class="formMain">
  <h2>本文档将通过两个表单提交案例帮助理解表单验证,如下表</h2>
  <div class="formCustomer">
    <h2>用户登录</h2>
    <form #myForm="ngForm">
      <table>
        <tr>
          <td class="td">用户名</td>
          <td>
            <input
              type="text"
              name="username"
              uiMin
              required
              minlength="2"
              maxlength="6"
              class="form-control input"
              [(ngModel)]="username"
              #username1="ngModel"
              placeholder="请输入用户名(2~6位)"
            />
            <span
              *ngIf="
                username1.invalid && (username1.dirty || username1.touched)
              "
              class="alert alert-danger"
            >
              <span class="error" *ngIf="username1.errors.required"
                >*用户名不能为空</span
              >
              <span class="error" *ngIf="username1.errors.minlength"
                >用户名长度在2~6位</span
              >
              <span class="error" *ngIf="username1.errors.maxlength"
                >用户名长度在2~6位</span
              >
            </span>
          </td>
        </tr>
        <tr>
          <td class="td">手机号</td>
          <td>
            <input
              type="number"
              name="phone"
              uiIsPhone
              required
              class="form-control input"
              [(ngModel)]="phone"
              #phone1="ngModel"
              placeholder="请输入你的手机号"
            />
            <span
              *ngIf="phone1.invalid && (phone1.dirty || phone1.touched)"
              class="alert alert-danger"
            >
              <span class="error" *ngIf="phone1.errors.required"
                >*手机号码不能为空</span
              >
              <span class="error" *ngIf="phone1.errors.phone"
                >手机号码输入有误</span
              >
            </span>
          </td>
        </tr>
        <tr>
          <td class="td">邮箱</td>
          <td>
            <input
              type="text"
              name="email"
              uiIsEmail
              required
              class="form-control input"
              [(ngModel)]="email"
              #email1="ngModel"
              placeholder="请输入常用邮箱号"
            />

            <span
              *ngIf="email1.invalid && (email1.dirty || email1.touched)"
              class="alert alert-danger"
            >
              <span class="error" *ngIf="email1.errors.required"
                >*邮箱不能为空</span
              >
              <span class="error" *ngIf="email1.errors.email"
                >邮箱输入不正确</span
              >
            </span>
          </td>
        </tr>
        <tr>
          <td class="td">密码</td>
          <td>
            <input
              type="password"
              name="pwd"
              required
              uiIsPassword
              class="form-control input"
              [(ngModel)]="pwd"
              #pwd1="ngModel"
              placeholder="请设置一个密码"
            />
            <span
              *ngIf="pwd1.invalid && (pwd1.dirty || pwd1.touched)"
              class="alert alert-danger"
            >
              <span class="error" *ngIf="pwd1.errors.required"
                >*密码不能为空</span
              >
              <span class="error" *ngIf="pwd1.errors.password"
                >密码长度为8-20位，且必须包含字母和数字</span
              >
            </span>
          </td>
        </tr>
        <tr>
          <td class="td">确认密码</td>
          <td>
            <input
              type="password"
              name="PWD"
              required
              uiIsPassword
              class="form-control input"
              [(ngModel)]="PWD"
              #PWD1="ngModel"
              placeholder="注意和上面密码一致"
            />
            <span
              *ngIf="PWD1.invalid && (PWD1.dirty || PWD1.touched)"
              class="alert alert-danger "
            >
              <span class="error" *ngIf="PWD1.errors.required"
                >*密码不能为空</span
              >
              <span class="error" *ngIf="PWD1 != pwd">两次密码不一致</span>
            </span>
          </td>
        </tr>
        <tr>
          <td class="td">URL地址</td>
          <td>
            <input
              type="text"
              name="url"
              uiIsUrl
              class="form-control input"
              [(ngModel)]="URL"
              #url1="ngModel"
              placeholder="请输入你的URL地址"
            />
            <span
              *ngIf="url1.invalid && (url1.dirty || url1.touched)"
              class="alert alert-danger"
            >
              <span class="error" *ngIf="url1.errors.url">url输入有误</span>
            </span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input class="input" type="submit" value="提交" /> (注:*为必填)
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图1.0
          </td>
        </tr>
      </table>
    </form>
  </div>

  <div class="formShop"><h2>购物车</h2></div>
  <form #myForm="ngForm">
    <table>
      <tr>
        <td class="td">单价</td>
        <td>
          <input
            type="number"
            name="price"
            uiIsPositive
            class="form-control input"
            [(ngModel)]="price"
            #price1="ngModel"
            placeholder="请输入商品单价"
          />
          <span
            *ngIf="price1.invalid && (price1.dirty || price1.touched)"
            class="alert alert-danger"
          >
            <span class="error" *ngIf="price1.errors.positive"
              >单价输入有误</span
            >
          </span>
        </td>
      </tr>
      <tr>
        <td class="td">数量</td>
        <td>
          <input
            type="number"
            name="num"
            uiIsPositiveInteger
            class="form-control input"
            [(ngModel)]="num"
            #num1="ngModel"
            placeholder="请输入商品数量"
          />
          <span
            *ngIf="num1.invalid && (num1.dirty || num1.touched)"
            class="alert alert-danger"
          >
            <span class="error" *ngIf="num1.errors.positiveInteger"
              >数量输入有误</span
            >
          </span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input class="input" type="submit" value="加入购物车" /> (注:*为必填)
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;图2.0
        </td>
      </tr>
    </table>
  </form>

  <div class="formConent">
    <div class="fromFk">
      <h4>1.非空验证（required）：如图1.0</h4>
      当鼠标获取焦点但不输入任何值时，显示“*用户名不能为空”，input标签显示为红色（注：以下非空验证皆是如此）
      <img src="../../../assets/images/1.PNG" />
    </div>
    <div class="formMin">
      <h4>2.最小值验证（uiIsMin）:如图1.0</h4>
      1）.进行最小值两位验证；
      <img src="../../../assets/images/15.PNG" />
      2）.验证通过后，input标签显示为绿色，显示验证通过
      <img src="../../../assets/images/16.PNG" />
    </div>
    <div class="formPhone">
      <h4>3.手机号验证（uiIsPhone）：如图1.0</h4>

      1）.非空验证通过后进行手机号格式验证;
      <img src="../../../assets/images/7.PNG" />
      2）.验证通过后，input标签显示为绿色，显示验证通过
      <img src="../../../assets/images/8.PNG" />
    </div>
    <div class="formEmail">
      <h4>4.邮箱验证（uiIsEmail）：如图1.0</h4>

      1）.非空验证通过后进行邮箱格式格式验证;
      <img src="../../../assets/images/11.PNG" />
      2）.验证通过后，input标签显示为绿色，显示验证通过
      <img src="../../../assets/images/9.PNG" />
    </div>
    <div class="formPwd">
      <h4>5.密码验证（uiIsPassword）：如图1.0</h4>

      1）.非空验证通过后进行密码格式验证;
      <img src="../../../assets/images/5.PNG" />
      2）.验证通过后，input标签显示为绿色，显示验证通过
      <img src="../../../assets/images/4.PNG" />
      3）.接着进行确认密码，必须和刚刚输入的密码保持一致，验证才能通过
      <img src="../../../assets/images/6.PNG" />
    </div>
    <div class="formUrl">
      <h4>6.URL地址验证（uiIsUrl）：如图1.0</h4>
      1）.直接进行HTTP格式验证;
      <img src="../../../assets/images/13.PNG" />
      2）.验证通过后，input标签显示为绿色，显示验证通过
      <img src="../../../assets/images/14.PNG" />
    </div>
  </div>
  <div class="formShopping">
    <div class="formPrice">
      <h4>1.商品单价验证（uiIsUrl）：如图2.0</h4>
      1）.单价必须为正数;
      <img src="../../../assets/images/2-1.PNG" />
      2）.验证通过后，input标签显示为绿色，显示验证通过
      <img src="../../../assets/images/2-2.PNG" />
    </div>
    <div class="formNum">
      <h4>1.商品数量验证（uiIsUrl）：如图2.0</h4>
      1）.商品数量必须为正整数; <img src="../../../assets/images/2-3.PNG" />
      <img src="../../../assets/images/2-6.PNG" />
      2）.验证通过后，input标签显示为绿色，显示验证通过
      <img src="../../../assets/images/2-4.PNG" />
    </div>
  </div>
</div>
