<div class="p20">
  <h2>lazyLoad</h2>
  <div>图片延迟加载</div>
  <h4>例子</h4>
  <div>
    <img [imageLazyLoad]="'http://www.i-dengta.com/assets/img/dengta.jpg'" style="height: 200px;"> <br> <br>
    <img [imageLazyLoad]="'http://www.le5le.com/image/571e25146025d71090cc9aba.food.jpg'" style="height: 450px;"> <br> <br>
    <img [imageLazyLoad]="'http://www.le5le.com/image/56e961a06025d75628cbc19b.food-home.jpg'" style="height: 450px;"> <br> <br>
    <img [imageLazyLoad]="'http://www.le5le.com/image/56e967546025d75628cbc1a3.sn.jpg'" style="height: 450px;"> <br> <br>
  </div>
  <br>
  <h4>使用方式</h4>
  <div>
    在img标签使用imageLazyLoad属性=yourUrl变量。其他扩展选项：<br>
    imageLazyLoadParams - url扩展参数。最终图片url为：imageLazyLoad（=yourUrl）+ imageLazyLoadParams。
    threshold - 提前加载图片的偏移量，整数，单位为像素。
    <br><br>
    使用步骤和代码依次如下：
  </div>
  <textarea class="input mt20 full" rows="20" style="resize: none;" readonly="readonly">
    1.
    import {NoticeService} from "le5le-component/src/lazyLoad/imgLazyLoad";
    2.
    @NgModule({
      imports:       [CommonModule,  FormsModule, routing],
      declarations: [
        ImageLazyLoad
      ]
    })
    export class SharedModule { }

    3.
    <img [imageLazyLoad]="'http://www.i-dengta.com/assets/img/dengta.jpg'" >

     <img [imageLazyLoad]="img.url" [imageLazyLoadParams]="'?w=210&h=140'" [threshold]="100" [alt]="img.title">
  </textarea>
</div>

