<div class="p20">
  <h2>editor</h2>
  <div>富文本编辑器。依赖
    <a href="https://le5le-com.github.io/le5le-ui/index.html" target="_blank">le5le-ui</a>样式 和本项目中的NoticeService服务。
  </div>
  <h4>例子</h4>
  <div>
    <!-- <input class="input full mb5" name="title" [(ngModel)]="article.title" placeholder="标题" (blur)="editor.setTitle(article.title)">
    <input class="input full mb5" name="abstract" [(ngModel)]="article.abstract" placeholder="摘要" (blur)="editor.setAbstract(article.abstract)">


    <button class="button primary mt10" (click)="onSubmit(editor)" [disabled]="saving">保 存</button> -->
  </div>
  <br>
  <h4>使用说明</h4>
  <div>
    <b>组件属性：</b>
    <br> templates - 至少包含 标题title、 摘要abstract、正文content的对象数组。
    <br> images - 插入图片到正文后，同时保存图片url到此数组。
    <br> canEditTemplates - 是否能编辑模板
    <br> selectTemplate - 从模板列表单击选择一个模板去编辑文章
    <br> editTemplate - 从模板列表单击选择一个模板去编辑模板
    <br> deleteTemplate - 删除模板
    <br>
    <br> 组件方法：
    <br> setTitle - 设置标题
    <br> setAbstract - 设置摘要
    <br> getTitle - 获取标题
    <br> getAbstract - 获取摘要
    <br> getContent - 获取正文
    <br>
    <br> 使用步骤和代码依次如下：
  </div>
  <textarea class="input mt20 full" rows="70" style="resize: none;" readonly="readonly">
    1.
    import {EditorComponent} from "le5le-component/src/editor/editor.component";
    2.
    @NgModule({
      imports:       [CommonModule,  FormsModule, routing],
      declarations: [
        EditorComponent
      ]
    })
    export class SharedModule { }

    3.
    // view
    <div>
      <input class="input full mb5" name="title" [(ngModel)]="article.title" placeholder="标题"
             (blur)="editor.setTitle(article.title)">
      <input class="input full mb5" name="abstract" [(ngModel)]="article.abstract" placeholder="摘要"
             (blur)="editor.setAbstract(article.abstract)">


      <button class="button primary mt10" (click)="onSubmit(editor)"
              [disabled]="saving">保  存</button>
    </div>

    // controller
    ...
    export class ComponentEditorComponent {
      templates: any[] = [{content: '<h1>标题</h1><div class="abstract">abstract</div><div>123123</div>', title: '标题', abstract: 'abstract'}];
      article: any = {url:'', content: '', title: '', abstract: ''};
      saving: boolean;
      constructor() {
      }

      onSelectTemplate (template: any) {
        this.article = Object.assign({}, template);
      }

      onEditTemplate (template: any) {
        this.article = Object.assign({}, template);
      }

      onDeleteTemplate (template: any) {
      }

      onSubmit(editor: any) {
        if (!editor || this.saving) return;

        // 获取最新数据
        let article = Object.assign({}, this.article);
        article.title = editor.getTitle();
        article.abstract = editor.getAbstract();
        article.content = editor.getContent();
        // Do sth.
      }
    }

  </textarea>
</div>
