<div class="p20">
  <h2>btnSaving</h2>
  <div>button保存中状态指令</div>
  <h4>例子</h4>
  <div>
    <button class="button success mr10" (click)="onSave1()" [btnSaving]="saving1" >保存1</button>
    <button class="button primary mr10" (click)="onSave2()" [btnSaving]="saving2" [savingText]="'saving...'">保存2</button>

    <button class="button warning mr10" (click)="onCancel()" >取消保存状态</button>
  </div>
  <br>
  <h4>使用方式</h4>
  <div>
    在button中添加btnSaving属性和可选savingText属性

    <br><br>
    其中属性如下：<br>
    btnSaving - 指示是否在保存状态<br>
    savingText - 保存状态下的文字。默认  保存中... <br>
    <br>
    代码依次如下：
  </div>
  <textarea class="input mt20 full" rows="20" style="resize: none;" readonly="readonly">
    1.
    import {BtnSavingDirective} from "le5le-component";
    2.
    @NgModule({
      imports:       [CommonModule,  FormsModule, routing],
      declarations: [
        BtnSavingDirective
      ],
      exports:       [
        CommonModule,
        FormsModule,
      ],
      providers:     [
      ]
    })
    export class SharedModule { }

    3.
    <button class="button success mr10" (click)="onSave()" [btnSaving]="saving" [savingText]="'saving...'">保存</button>
  </textarea>
</div>

