$font-family: 'Hiragino Sans GB', Helvetica, 'microsoft yahei', '微软雅黑',
  SimSun, '宋体', Arial;
$font-size: 0.12rem;
$color: #6f787e;
$line-height: 1.8;
$color-primary: #26bbf0;
$color-primary-hover: #1790bb;
$color-primary-disabled: #d4f1fc;
$color-success: #c2d5a0;
$color-success-hover: #8da662;
$color-success-disabled: #f3f8ec;
$color-warning: #ffbc0b;
$color-warning-hover: #d9a116;
$color-warning-disabled: #fff6dd;
$color-error: #cc6164;
$color-error-hover: #a9484b;
$color-error-disabled: #f7e6e7;
$color-turquoise: #26bbf0;
$color-turquoise-hover: #1790bb;
$color-turquoise-disabled: #d4f1fc;
$color-orange: #fb8c00;
$color-orange-hover: #ff9800;
$color-orange-disabled: #f5dcbd;
$color-weixin: #50c332;
$color-weixin-hover: #46ad2c;
$color-weixin-disabled: #caf7be;
$color-qq: #34c8f4;
$color-qq-hover: #30b9e2;
$color-qq-disabled: #c1e9f5;
$color-weibo: #d81228;
$color-weibo-hover: #e6162d;
$color-weibo-disabled: #f9d6da;
$color-url: #6f787e;
$color-url-hover: #26bbf0;
$color-border: #dbdfe1;
$color-sub-border: #f3f4f5;
$color-input-border: #c4c9cd;
$color-input-border-hover: #26bbf0;
$color-input-disabled: #f3f4f5;
$color-gray: #c4c9cd;
$color-title: #343536;
$color-desc: #9aa8b1;
$color-placeholder: #aaa;
$color-lightgray: #dbdfe1;
$color-button: #6f787e;
$color-button-hover: #3f4142;
$color-button-disabled: #c4c9cd;
$color-button-border-disabled: #dbdfe1;
$color-td: #f3f4f5;
$color-button-border: #c4c9cd;
$color-button-border-hover: #9aa8b1;
$color-th: #9aa8b1;
$td-padding: 0.1rem 0.15rem;
$font-size-th: 0.1rem;
$table-padding: 0.15rem;
$modal-background-color: rgba(0, 0, 0, 0.3);
$header-background-color: #343536;
$header-height: 0.6rem;
$modal-header-padding: 0 0.2rem;
$modal-header-lineheight: 0.5rem;
$font-size-header: 0.15rem;
$font-size-header-small: 0.14rem;
$page-width: 10rem;
$padding-list: (0, 5, 10, 15, 20, 30, 50);
$padding-unit: 0.01rem;
$box-width: 2rem;
$box-aspect-ratio: 0.64;
$icon-box-width: 1rem;
$tree-indent: 0.1rem;
$input-padding: 0 0.1rem;
$input-line-height: 0.28rem;
$input-border-radius: 0.04rem;
$font-size-headline: 0.4rem;
$font-size-subheadline: 0.3rem;
$font-size-popup-title: 0.16rem;
$font-size-small: 0.1rem;
$font-size-title: 0.12rem;
$spin-duration: 1.8s;
$tooltip-background-color: #343536;
$modal-max-width: 90%;
$modal-max-height: 80%;
$image-preview-height: 1rem;
$label-lineheight: 2;
$label-padding: 0 0.1rem;
