<div class="panel p20" style="min-height: 5rem">
  <h2>le5le - component</h2>
  <div>
    le5le - component是le5le的公用angular2组件。<br><br>

  </div>
  <h2>安装</h2>
  <div>
    npm install --save le5le-component<br><br>
    github： <a href="https://github.com/le5le-com/le5le-components" target="_blank">le5le-components</a>
  </div>
  <h2>使用方式</h2>
  <div>
    按需导入即可。组件样式需要结合postcss的导入方式使用。
    <br>
    import ｛
    ImageLazyLoad, QRCodeComponent, SwitchComponent, FileUploadComponent, EditorComponent,
    PasswordValidator, PhoneValidator, PositiveIntegerValidator, SameValidator, EmailValidator,
    FileSelectDirective,
    EllipsisPipe,
    CookieService　｝ from 'le5le-component';  <br>
  【注意】 上面的大括号为中文全角
  </div>
</div>
